body {
  background-color: gold;
}
h6 {
  border: solid;
  width: 60px;
  margin:auto;
}
.selected {
  color: red;
}
.meal-div {
  border: solid;
  text-align: center;
  background-color: orange;
  margin-top: 20px;
}
.edit-div {
  padding: 30px;
    input {
      text-align: center;
      border: none;
      width: 200px;
      height: 60px;
      margin: 10px;
      border-radius: 10px;
      outline:none;
      box-shadow: 2px 2px 15px;
    }
}
.new-div {
  font-size: 2em;
  font-family: monospace;
  text-align: center;
  input, textarea {
    text-align: center;
    border: none;
    width: 200px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    outline:none;
    box-shadow: 2px 2px 15px;
  }
  textarea {
    width: 300px;
    height: 80px;
    box-shadow: 2px 2px 16px;
  }
  button {
    width: 300px;
    height: 60px;
    margin-top: 20px;
    border:none;
    box-shadow: 2px 2px 15px;
  }
}
.big-meal {
  height: 500px;
}
